# Configurações do Frontend Kodey Kontabs (Powered by Kore Framework)
APP_ENV=local
TENANT_MODE=standalone

# API Backend Base URL (Detectado automaticamente pelo sistema se deixado em branco)
# Local: http://localhost:8000/
# Produção Online: https://kontabsapi.kodey.com.br/
API_URL=http://localhost:8000/

# Google OAuth / Identity Services (GIS) Client ID
# Obtenha no console do Google Cloud: https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=